body {
    padding: 0;
    margin: 0;
    background-image: url(./bg_img.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 700px;
}

.container p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: azure;
}

.container wiresult {}

.main {
    display: flex;
    gap: 20px;
    margin-left: 95px;
    flex-direction: row;
}

.label {
    color: aliceblue;
    gap: 20px;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    flex-direction: column;
    padding: 10px;
}

.input {
    padding: 10px;
}

.container {
    background-color: rgb(121, 235, 101);
    margin-top: 110px;
    margin-left: 30%;
    opacity: 95%;
    width: 40%;
    border: 3px solid #656d59;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px;
}

.container h1 {
    font-style: italic;
    color: rgb(255, 255, 255);
}

.input label {
    color: antiquewhite;
    font-family: sans-serif;
    font-style: italic;
}

#length {
    text-align: left;
}

#input {
    display: flex;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-radius: 5px;
}

button {
    margin-top: 30px;
    border-radius: 15px;
    background-color: azure;
    border-style: none;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}